
	<div class="want">
   		<% if want = current_user.wanted(polish) %>
     		<%= link_to [polish, want], class: 'btn btn-danger', method: :delete do %>
     			I want this!
     		<% end %>
   			<% else %>
     		<%= link_to [polish, Want.new], class: 'btn btn-primary', method: :post do %>
     			Do you want this?
     		<%end%>
   		<% end %>
	</div>
