
	<div class="own">
   		<% if own = current_user.owned(polish) %>
     		<%= link_to [polish, own], class: 'btn btn-danger', method: :delete do %>
     			I own this!
     		<% end %>
   			<% else %>
     		<%= link_to [polish, Own.new], class: 'btn btn-primary', method: :post do %>
     			Do you own this?
     		<%end%>
   		<% end %>
	</div>
