<div class="container">
	<h1>Reviews</h1>
	<% if policy(Review.new).create? %>
	<%= link_to "New Review", new_review_path, class: 'btn btn-success' %>
	<% end %>

	<% @reviews.each do |review| %>
	<div class="media">
		<div class="media-body">
			<h4 class="media-heading">
				<%= link_to review.title, review %>
			</h4>
			<small>
				By <%= review.user.name %>
			</small>
		</div>
	</div>
	<% end %>
</div>