<div class="container">
	<h1>All Polishes
		<small>
		<% if policy(Polish.new).create? %>
			<%= link_to ("<i class='fa fa-plus'></i> New Polish").html_safe, new_polish_path, class: 'btn btn-default' %>
		<% end %>
		</small>
	</h1>

		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>Nail Polish</th>
						<th>Color</th>
						<th>Style</th>
					</tr>
				</thead>
				<tbody>
					<% @polishes.each do |polish| %>
						<tr>
							<td>
							<%= link_to "#{polish.brand}'s #{polish.name}", polish %>
							</td>
							<td>
								<%= polish.color.capitalize %>
							</td>
							<td>
								<%= polish.style %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
</div>